<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Training\Test\Api\ProductRepositoryInterface" type="Magento\Catalog\Model\ProductRepository" />

    <preference for="Magento\Framework\App\FrontControllerInterface" type="Training\Test\App\FrontController"/>

    <type name="Training\Test\MagentoU\Test">
        <arguments>
            <argument name="justAParameter" xsi:type="string"> Hello world! </argument>
            <argument name="data" xsi:type="array">
                <item name="test-array-item" xsi:type="string">Test Array Item!!!</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Model\Product">
        <plugin name="training_price_plugin" type="Training\Test\Plugin\ProductPlugin" sortOrder="1"/>
    </type>

    <type name="Magento\Theme\Block\Html\Footer">
        <plugin name="training_footer_plugin" type="Training\Test\Plugin\FooterPlugin" />
    </type>

    <type name="Magento\Theme\Block\Html\Breadcrumbs">
        <plugin name="training_breadcrumbs_plugin" type="Training\Test\Plugin\BreadcrumbsPlugin" />
    </type>

    <type name="Magento\Catalog\Controller\Product\View">
        <plugin name="training_controller_product_view_plugin" type="Training\Test\Plugin\ControllerProductViewPlugin" sortOrder="10" disabled="true"/>
    </type>

    <type name="Magento\Catalog\Block\Product\View\Description">
        <plugin name="catalog_product_view_description_plugin" type="Training\Test\Plugin\CatalogProductViewPlugin" sortOrder="10" />
    </type>
</config>